@inherits LayoutComponentBase

<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-enhance>
    Произошла необрабатываемая ошибка.
    <a href="" class="reload">Перезагрузить</a>
    <a class="dismiss">🗙</a>
</div>

